@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

body {
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  width:100vw;
}

h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size:3rem;
}

h2{
  
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size:1.8rem;

}


h3{
  
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size:1.5rem;

}



p {
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  color: #808080;
  font-size: 1.4rem;
}


button {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-top: 10px;
  width: 300px;
}

#button1 {
  background-color: #23b6a3;
  margin-right: 10px;
  box-shadow: -1px 15px 19px -11px rgba(35, 182, 163, 0.75);
  -webkit-box-shadow: -1px 15px 19px -11px rgba(35, 182, 163, 0.75);
  -moz-box-shadow: -1px 15px 19px -11px rgba(35, 182, 163, 0.75);
}
#button2 {
  background-color: #6275ff;
  box-shadow: -1px 15px 19px -11px rgba(98, 117, 255, 0.75);
  -webkit-box-shadow: -1px 15px 19px -11px rgba(98, 117, 255, 0.75);
  -moz-box-shadow: -1px 15px 19px -11px rgba(98, 117, 255, 0.75);
}




.svg {
  margin-top: 100px;
}

.logs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snippet p {
  width: 40vw;
}


@media all and (max-width: 650px) {
 
 
   p{
    width: 80vw;
    margin:0 10%;
    padding: auto;
  }

   
  h1{
   
    width: 90vw;
    text-align: center;
    margin: auto;

  }

  .header-hero p{
       
    padding-top:20px;
    padding-bottom:20px;
    

  }

  .feature{

    padding-top:20px;
    padding-bottom:20px;
  }

 

  .accessclipboard p{

    padding-top:20px;
    padding-bottom:20px;
  }

  


  .section-top {
    display: flex;
    flex-direction: column;
    background-image: url("./images/bg-header-mobile.png");
    background-size:cover;
    align-items: center;
    /*  justify-content: space-evenly; */
  }

 

  #herotext {
    font-size: 35px;
    display: flex;
    flex-direction: column4;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
 
  }

  .svg {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 50px;
  }

  #logo{

    width: 100px;
    height: 100px;
  }

  .snippet p {
    width: 90vw;
  }
  .snippet h2 {
    width:70vw;
    text-align: center;
    margin-top: 120px;
  }
  .section-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
  }
  .sub-section{
    width: 100vw;
    display: flex;
    flex-direction:row;
    justify-content: center;
  }
  #desktop {
    width: 300px;
    height: 230px; 
  
  }

  .cloudsync {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .accessclipboard p {
    text-align: center;
    width: 90vw;
  }

  #tab {
    width: 350px;
    height: 230px;
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .section-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section-bottom p {
    width: 90vw
  }
  .clipboard {
    text-align: center;
  }
  .clipboard p {
    width: 80vw;
    margin-bottom:50px;
  }
  .accessclipboard h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .butttondown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 140px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    background-color: #ededed;
  }

  .g1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100px;
  }

  #footerLogo {
    margin-top: 75px;
    margin-bottom: 40px;
  }

  .socialicons {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    width: 50vw;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 800px){
  .header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("images/bg-header-desktop.png");
    background-size: cover;
    margin-bottom: 150px;
    padding-bottom: 65px;
  }

  .section-middle {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  .button-top {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }

  .logs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -100px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px 100px 100px;
    margin-top: -100px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px 100px 100px;
  }

  p {
    text-align: center;
  }

  .sub-section {
    display: flex;
    flex-direction: row;
  }

  .cloudsync {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 70px;
    padding: 30px;
  }
  .accessclipboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
  }
  .accessclipboard p {
    width: 40vw;
  }

  .cloudsync p {
    text-align: start;
    margin-top: -10px;
    width: 80%;
  }

  #tab {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #desktop{

    margin-left: -30px;

  }

  .clipboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .clipboard p {
    width: 40vw;
  }

  .butttondown {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .footer {
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    height: 120px;
  }

  .footerlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    flex-grow: 0.5;
  }
  .g1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
  }
  .socialicons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
  }
  

  

}

